<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.example.laboratorinis.mybatis.model.Song" alias="Song"/>
        <typeAlias type="com.example.laboratorinis.mybatis.model.Author" alias="Author"/>
        <typeAlias type="com.example.laboratorinis.mybatis.model.Playlist" alias="Playlist"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="LaboratorinisDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/SongMapper.xml"/>
        <mapper resource="mybatis.xml/AuthorMapper.xml"/>
        <mapper resource="mybatis.xml/PlaylistMapper.xml"/>
    </mappers>
</configuration>
